[Unit]
Description=Load SPEC and WR-NIC kernel modules and bring up wr0 interface
After=network-pre.target irqbalance.service
Wants=network-pre.target irqbalance.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/depmod
ExecStart=/usr/bin/wr-start-check.sh
ExecStop=/bin/bash -c 'killall wr-dio-agent wr-dio-ruler || true'
ExecStop=/sbin/ip link set wr0 down
ExecStop=/sbin/rmmod wr-nic
ExecStop=/sbin/rmmod spec fmc

[Install]
WantedBy=multi-user.target
